mixin cartItemRow
  -
    var dummy = new Dummy();
    var block = {
      title: dummy.randomText('title'),
      description: dummy.randomText('description'),
      imgSrc: "img/dummy/"+ dummy.randomNum(1,20) +".jpg",
      //- imgSrc: "https://via.placeholder.com/500x500",
      imgAlt: dummy.randomText('title'),
      priceVat: dummy.priceVat(),
      priceNoVat: dummy.priceNoVat(),
      quantity: dummy.randomNum(1,5)*100
    };

  .item-row.fs-8.text-muted.border-bottom.border-g200
    .item-row-group.flex-grow-1
      .item-row-col.d-none.d-sm-block
        .w-3rem
          a(href='#')
            img.img-fluid(src=block.imgSrc, alt='Popisek obrázku')
      .item-row-col
        .fs-7.fw-bold.mb-1
          a.link-dark.text-decoration-none(href='#') #{block.title}
        div (Počet ks v balení: #{block.quantity} ks)
    .item-row-group
      .item-row-col.w-5rem.text-end.d-none.d-sm-block
        .text-nowrap
          | 20×100 ks
      .item-row-col
        input.form-control.form-control-sm.text-center.w-2rem.px-1(type='text', value='1')
      .item-row-col.w-4rem.text-center.d-none.d-sm-block
        .fw-bold.text-success skladem
      .item-row-group.d-block.d-md-flex
        .item-row-col.w-5rem.text-end
          .text-nowrap #{block.priceNoVat}

        .item-row-col.w-5rem.text-end
          .text-nowrap #{block.priceVat}
      .item-row-col.ms-2
        button.item-row-del.btn(type='button')
          i.bi.bi-x-square-fill