//- include /modules/puggy/components/product-card

mixin productCard
  -
    var dummy = new Dummy();
    var block = {
      title: dummy.randomText('title'),
      description: dummy.randomText('description'),
      imgSrc: "img/dummy/"+ dummy.randomNum(1,20) +".jpg",
      //- imgSrc: "https://via.placeholder.com/500x500",
      imgAlt: dummy.randomText('title'),
      priceVat: dummy.priceVat(),
      priceNoVat: dummy.priceNoVat(),
      discount: dummy.randomNum(15,35),
    };
    
  .col
    .card.product-card.h-100
      a(href="")
        .ratio.ratio-1x1
          .p-3.d-flex.align-items-center.justify-content-center
            img.mw-100.mh-100(src= block.imgSrc, alt= block.imgAlt) 
          //- badge container
          .ps-2.pt-1.text-start
            if dummy.fortune(20)
              .badge.bg-warning.text-dark -#{block.discount} %
            if dummy.fortune(20)
              .badge.bg-success Novinka
            if dummy.fortune(10)
              .badge.bg-info Výprodej
            if dummy.fortune(5)
              .badge.bg-danger Doprodej
      
      .card-body.d-flex.flex-column.text-center.p-3
        
        a.card-title.text-reset.text-decoration-none.lh-sm.fw-normal(href="") #{block.sequence} #{block.title}
        //- .card-text.lh-sm.fs-8 #{block.description}
        
        .m-2.d-flex.flex-fill.align-items-end
          .mx-auto
            .text-nowrap.fw-bold.text-color-santafe.lh-1.mb-3
              .mb-1 #{block.priceNoVat} bez DPH / 1 ks
              div #{block.priceVat} s DPH / 1 ks 
            a.btn.btn-sm.btn-secondary.text-uppercase(href="#") ZOBRAZIT