extends /src/views/templates/base

block append settings-page
  - var page = new Page ('Kategorie');

block append content

  +breadcrumb

  h1.mb-4 Inkontinence

  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, excepturi nam? Porro, fugit. Ea, unde dignissimos quo repudiandae praesentium accusamus iure, explicabo tempore rem sapiente numquam ut nisi doloremque. Quo consequuntur quas iure illo sunt vitae error veritatis, voluptatum itaque!

  
  // Subcategories Container
  .section-xs
    nav.nav
      .row.row-cols-2.row-cols-md-4.g-2
        +repeat(12)
          - var data = new Data('src/data/products.js');
          .col
            .card.h-100
              .card-body.p-2.d-flex.align-items-center
                .me-3.w-3rem.h-3rem.d-flex.flex-shrink-0.align-items-center.justify-content-center
                  img.mw-100.mh-100(src= "img/dummy/custom/"+ randomNum(1,15) +".jpg",, alt="")
                a.stretched-link.lh-sm.text-decoration-none(href="#")= trim(data.random('categories'),30)


  //- // Top Sales Container
  //- .section-xs
  //-   h2.mb-2.fs-6 Nejprodávanější

  //-   - var data = new Data('src/data/products.js');
  //-   - var dataDummy = new Data('modules/dummy/dummy.js');
  //-   - var n = 1;

  //-   +repeat(3)

  //-     - var dummy = new Dummy();

  //-     .card.border-0.border-bottom
  //-       .card-body.p-0.py-2.d-flex.align-items-center
  //-         .me-2.text-muted.fs-7 #{n++}.
  //-         .me-3.w-3rem.h-3rem.d-flex.flex-shrink-0.align-items-center.justify-content-center
  //-           img.mw-100.mh-100(src= dummy.img('custom/'), alt="")
  //-         .fs-7 
  //-           a.fw-bold.text-primary.text-decoration-none.stretched-link(href="#") #{data.random('names')}
  //-           div #{dataDummy.random('lorem80')}
  //-         .ms-auto.text-end
  //-           .fw-bold #{dummy.priceVat()}
  //-           .fs-7 bez DPH #{dummy.priceNoVat()}



  #produkty.section-xs

    // Filters Container 
    .d-md-flex.fs-7.mb-3
      .me-md-auto
        include ../views/components/filterOrder
      include ../views/components/filterTags
      
    // Product Cards Container
    .row.g-0.row-cols-1.row-cols-sm-2.row-cols-md-3.row-cols-xl-4
      +repeat(24)
        +productCard
  
    // Product Cards footer
    .d-flex.my-4
      a(href="#produkty")
        i.bi-arrow-up
        | nahoru
      .ms-auto
        include ../views/components/pagination 

    .text-center
      .btn.btn-primary.btn-lg.mx-auto
        | 24 dalších &hellip;